# ================================
# OS / System Files
# ================================

.DS_Store
Thumbs.db

# ================================
# Environment Files (IMPORTANT 🔥)
# ================================

.env
.env.*
!.env.example

# ================================
# Node.js
# ================================

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ================================
# Metro Bundler
# ================================

.metro-health-check*

# ================================
# Testing
# ================================

/coverage

# ================================
# React Native Bundle
# ================================

*.jsbundle

# ================================
# Android
# ================================

android/build/
android/app/build/
android/.gradle/
android/local.properties
android/*.iml
android/*.keystore
!android/debug.keystore
android/.cxx/
android/.kotlin/

# ================================
# iOS / Xcode
# ================================

ios/build/
ios/Pods/
ios/DerivedData/
*.xcworkspace
*.xcuserdata
*.xcuserstate
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.hmap
*.ipa
*.xccheckout
*.moved-aside
**/.xcode.env.local

# ================================
# IDE / Editor
# ================================

.idea/
.vscode/
*.swp

# ================================
# Fastlane
# ================================

**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# ================================
# Ruby / CocoaPods
# ================================

/vendor/bundle/

# ================================
# Misc
# ================================

*.hprof
